.main_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 5rem;
  position: relative;
  z-index: 1;

  color: #e3f2fd;
}
.profile_container {
  background-color: #1f2a40;
  padding: 10rem;
}
.main_container {
  display: flex;
  width: 60%;
  height: 120vh;
  background-color: #e3f2fd;
  color: #000;
  border-radius: 1rem;
  overflow: hidden;
  flex-direction: column;
  padding: 1.5rem;
}

.header {
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  font-family: Abril Fatface, cursive;
  color: #3da58a;
}

.ph1 {
  font-family: Abril Fatface, cursive;
  color: #3da58a;
}
.Edit-dp {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #90caf9;
  padding: 0.5rem;
  padding-bottom: 1rem;
}
.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #e3f2fd;
  box-shadow: 0 0 0.5rem #e3f2fd;
  margin: 0;
  padding: 0;
}
.Edit-dp-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 1rem;
  width: 100%;
}
.Edit-dp-btn .btn {
  margin-top: 2px;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
  background-color: #1e88e5;
  border: 1px solid #e3f2fd;
  cursor: pointer;
  color: #e3f2fd;
}
.form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #90caf9;
  align-items: center;
  color: #e3f2fd;
}

/* .MuiOutlinedInput-notchedOutline {
  border-color: #53af5b !important;
  color: #e3f2fd !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid #53af5b !important;
  color: #e3f2fd !important;
}

.MuiInput-root {
  border-bottom: 1px solid #53af5b !important;
  color: #e3f2fd !important;
} */
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #e3f2fd;
  border-color: aliceblue;
} */
.input-fields {
  color: #e3f2fd;
}
.submit-button {
  margin: 0;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
  background-color: #1e88e5;
  border: 1px solid #e3f2fd;
  cursor: pointer;
  font-size: 1.2em;
  color: #e3f2fd;
}
