.main-container {
  display: flex;

  width: 83%;
  height: 120vh;
  background-color: #e3f2fd;
  color: #000;
  top: 10%;
  right: 0;
  position: absolute;
  border-radius: 1rem;
  overflow: hidden;
}

.main-content {
  margin: 1rem 1rem 0 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.description {
  max-width: 75%;
  border: 1px solid #e3f2fd;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
}

.description:hover {
  box-shadow: 0 0 1.5rem #e3f2fd;
}

.attr-table {
  margin-top: 1rem;
  border: 1px solid #e3f2fd;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
}
.attr-table:hover {
  box-shadow: 0 0 1.5rem #e3f2fd;
}

tr {
  border: 1px solid #e3f2fd;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
}
th {
  border: 1px solid #e3f2fd;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
}

td {
  text-align: center;
}
.trs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  border: 1px solid #e3f2fd;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}
.textarea p {
  margin: 0;
  padding: 0.2rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #e3f2fd;
  background-color: #e3f2fd;
  border: 1px solid #e3f2fd;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 1.5rem #e3f2fd;
  background-color: #90caf9;
}
